* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:rgb(45, 90, 119);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.write h1 {
    justify-content: center;
    text-align: center;
    color: rgb(45, 90, 119);
    font-size: 45px;
}
.line h1 {
    justify-content: center;
    text-align: center;
    color: rgb(45, 90, 119);
    padding-right: 500px;
    font-size: 40px;
}
hr.new1 {
        border: 5px solid rgb(45, 90, 119);
}
hr.new2 {
    border: 5px solid rgb(45, 90, 119);
}
.vl {
  display: inline-block;
    border-left: 475px solid rgb(45, 90, 119);
    height: 1900px;
    position: absolute;
    left: 70%;
    margin-left: 0px;
    top: 20;
  }
  /**.vl p {
    left: 70%;
    font-size: 15px;
    color: red;
    background-color: yellow;
  }***/
  .prof p {
    font-size: 33px;
    font-weight: bold;
    padding-left: 30px;
  }

hr.new3 {
  border: 5px solid rgb(45, 90, 119);
}
.exp_1 {
  color: black;
  font-weight: bolder;
  font-size: 25px;
  padding-left: 8em;
}
ul.lister {
  list-style: none;
  font-weight: bolder;
  color: black;
  font-size: 33px;
  margin-left: 0.2em;
}
.lister li{
  padding-top: 0.5em;
}
ul.lister li::before {
  content: "\2022";
  color: rgb(45, 90, 119);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -0.35em;
}
.exp_2 {
  color: black;
  font-weight: bolder;
  font-size: 24px;
  padding-left: 2em;
  padding-top: 0.1em;
}
ul.lister_2 {
  list-style: none;
  font-weight: bolder;
  color: black;
  font-size: 33px;
  margin-left: 0.2em;
}
.lister_2 li{
  padding-top: 0.5em;
}
ul.lister_2 li::before {
  content: "\2022";
  color: rgb(45, 90, 119);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -0.35em;
}
hr.new4 {
  border: 5px solid rgb(45, 90, 119);
}
.exp_3 {
  color: black;
  font-weight: bolder;
  font-size: 23px;
  padding-left: 2em;
  padding-top: 0.1em;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
